


.team_2{
    /* display: inline-block; */
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.team_2 span{
    width: 40.3px;
    height: 30px;
    text-align: center;
    padding: 5px 30px;
    margin: 15px;
    background-color: rgb(128, 141, 134);
}

.team_2 span:hover{
    background-color: salmon;
}

/* .team_2 > .team_2_2{
    display: block;
} */

.team_2_2 span{
    display: block;
    line-height: 30px;
}